langchain==0.3.27
langchain-community==0.3.27
langchain-openai==0.3.28
langchain-text-splitters
pypdf
python-docx
pandas
openpyxl
beautifulsoup4
markdown

faiss-cpu
unstructured
python-dotenv

tqdm
faiss-cpu
streamlit

openai